.contentUploadContainer {
  width: 100vw;  
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadMain {
  width: 1200px;
}

.uploadTitle {
  text-align: center;
  font-size: 1.2em;
}

.uploadForm {
  display: block;
  max-width: 700px;
  margin: 0 auto;
}

.uploadInput {
  font-size: 0.5em;
  display: flex;
  margin: 0 auto;

}

.uploadSubmitButton {
  display: flex;
  margin: auto;
  justify-content: center; 
  align-items: center; 
  padding: 0.3em 1em; 
  font-size: 0.8em;
  height: 1em;
  line-height: 1.5em;
  cursor: pointer; 
  border: 1px solid rgba(46, 46, 46, 0.7);   
  border-radius: 4px; 
}