/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
} */

.layoutStyle {
  max-height: 100%;
}

.main {
  width: 100vw;
}

.mainContainer {
  color: black;
  width: 1200px;
}

.loadingPage {
  border: 1px dotted red;
  width: 100%;
  height: calc(100vh - 60px);
  /* text-justify: center;
  text-align: center;
  margin: auto; */
}

.loadingText {
  /* text-align: center; */
  /* margin: auto; */
  
}

@media only screen and (min-width: 1200px) {
  .main {
  }
  
}
