.signUp {
  position: relative;
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundImage {
  position: absolute;
  display: flex;
  width: 100vw;
  margin: 0 auto;
  opacity: 0.9;
  height: calc(100vh - 60px);
}

.pageContainer {
  z-index: 1;
  position: absolute;
  /* top: 200%; */
  left: 50vw;
  
  transform:translate(-50% );
  width: 100vw;
}

@media only screen and (min-width: 770px) {
  .mainPageContainer {
    width: 70%;
    align-content: center;
  }

  .userDataInputComponents {
    top: 160%;
  }
}

@media only screen and (min-width: 1200px) {
  .noAuthLandingPage {
    padding: 0;
  }

  .landingText {
    padding: 0 0.3em;
  }
}