.clearButton {
  height: 0.6em;
  width: 0.6em;
  display: flex;
  align-items: center; 
  justify-content: center;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.3;
  margin-left: -1em;
  margin-top: 0.3em;
  font-size: 0.8em;
}